.wrapper-function-gpt {
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper-function-text-gpt{
    display: flex;
    width: 250px;
    height: 50px;
    line-height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    color: #E3FCF7;
    border: 1.5px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    justify-content: center;
    align-items: center;
    background: #014e3d;
  }
  
  .wrapper-function-text-gpt span {
    position: relative;
    z-index: 2;
  }
  
  .wrapper-function-text-gpt:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffe212;
    transition: all .35s;
  }
  
  .wrapper-function-text-gpt:hover {
    color: #014e3d;
  }
  
  .wrapper-function-text-gpt:hover:after {
    width: 100%;
  }