.login-area {
    width: 100%;
    height: 100%;
    background: #f7f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.first_name{
    margin-top: 2%;
    margin-bottom: 10%;
    width:250px;
    height:40px;
    border: 1.5px solid #00684A;
}

.last_name{
    margin-top: 2%;
    margin-bottom: 10%;
    width:250px;
    height:40px;
    border: 1.5px solid #00684A;
}

.email{
    margin-top: 2%;
    margin-bottom: 10%;
    width:250px;
    height:40px;
    border: 1.5px solid #00684A;
}

.address{
    margin-top: 2%;
    margin-bottom: 10%;
    width:250px;
    height:40px;
    border: 1.5px solid #00684A;
}

.password{
    margin-top: 2%;
    margin-bottom: 25%;
    width:250px;
    height:40px;
    border: 1.5px solid #00684A;
}

.submit-container {
    margin-top: 0px; /* 调整submit按钮与其他表单元素之间的间距 */
  }

  .login-area {
    width: 100vw;
    height: 100vh;
    background: #f7f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.submit-button {
    background-color: #004d40;
    color: #CBDAC5;
    border: none;
    border-radius: 0;
    padding: 15px 30px;
    cursor: pointer;
    margin-top: 2rem;
  }


  .wrapper-function-login{
    position: fixed;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    position: fixed;
  }
 
  .wrapper-function-text-login {
    display: flex;
    width: 220px;
    height: 50px;
    line-height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    color: #E3FCF7;
    border: 1.5px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    justify-content: center;
    align-items: center;
    background: #014e3d;
  }
  
  .wrapper-function-text-login span{
    position: relative;
    z-index: 2;
  }
  
  .wrapper-function-text-login:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffc010;
    transition: all .35s;
  }
  
  .wrapper-function-text-login:hover{
    color: #014e3d;
  }
  
  .wrapper-function-text-login:hover:after{
    width: 100%;
  }


  /* Signup.css */

.Signup-container {
  /* Center the form horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Assuming you want the form to take the full viewport height */

  /* Add some spacing between each input field and its label */
  gap: 20px;
}

/* Apply common styles to the labels */
.Signup-container label {
  font-size: 18px;
  font-weight: bold;
}

/* Style the input fields */
.Signup-container input {
  width: 300px;
  padding: 8px;
  font-size: 16px;
}




