.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}

.map-container {
  height: 1000px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.marker.parks {
  background-color: hsl(123, 43%, 50%);
}

.marker.cafes {
  background-color: rgb(239, 20, 255);
}

.marker.community {
  background-color: hsl(201, 100%, 50%);
}

.marker.libraries {
  background-color: hsl(38, 91%, 47%);
}

.marker.museums {
  background-color: hsl(356, 94%, 26%);
}

.marker.restaurants {
  background-color: hsl(50, 60%, 67%);
}

.marker.worships {
  background-color: hsl(246, 54%, 43%);
}

.marker.walking {
  background-color: hwb(240 35% 62%);
}

.marker {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.dataset-toggle {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 7px 200px 7px 5px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 35px;
  left: 0;
  margin: 12px;
  border-radius: 4px;
  text-align: left;
}