





.resource-area{
  
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
position: relative;
align-content: center;
justify-content: center;
display: flex;
align-items: center;

padding-left: 8%;
padding-right: 8%;
}

.r-b1{
  background-size: cover;
  /* 按比例缩放背景图，保持其完全覆盖容器 */
  background-position: center;
  /* 调整背景图的位置为居中 */
  background-image: url('/static/images/newyork7.jpg');
  width: 32%;
  /* top:4rem; */
  height: 50rem;
  position: relative;
  display: flex;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}

.r-b2{
  background-size: cover;
  /* 按比例缩放背景图，保持其完全覆盖容器 */
  background-position: center;
  /* 调整背景图的位置为居中 */
  background-image: url('/static/images/newyork8.jpg');
  width: 32%;
  /* top:4rem; */
  height: 50rem;
  position: relative;
  display: flex;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}

.r-b3{
  background-size: cover;
  /* 按比例缩放背景图，保持其完全覆盖容器 */
  background-position: center;
  /* 调整背景图的位置为居中 */
  background-image: url('/static/images/newyork4.jpg');
  width: 32%;
  /* top:4rem; */
  height: 50rem;
  position: relative;
  display: flex;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 0%;
}

.additional-block-close-res{
  top:0;
  right:0;
  width: 3.2rem;
  height: 3.2rem;
  background-color: #014e3d;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.additional-block-close-res:hover{
  background-color: #b1ff05;
}


.attribution-text{
  display: flex;
  position: absolute;
  bottom:1px;
  font-size: 8px;
  color: #014e3d;
}