/* resources.css */
html {
    scroll-behavior: smooth;
  }
  
  .homepage-pics-container {
    background-image: url('/static/images/newyork.jpg');
    /* 设置背景图片路径 */
    background-size: cover;
    /* 按比例缩放背景图，保持其完全覆盖容器 */
    background-position: center;
    /* 调整背景图的位置为居中 */
    position: relative;
    width: 100%;
    height: 100vh;
    /* 设置高度为视口的100% */
    display: flex;
  }
  
  .menubar-area {
    display: flex;
    justify-content: center;
    /* 在主轴上居中 */
    align-items: center;
    /* 在交叉轴上居中 */
    position: relative;
    width: 100%;
    height: 5rem;
  }
  
  .left-color-block {
    background-color: rgb(1, 78, 61, 0.9);
    width: 30%;
    /* 设置色块宽度 */
    height: 70%;
    /* 与homepage-pics-container高度相同 */
    position: relative;
    left: 5.5%;
    /* 将色块靠左 */
    top: 9%;
    overflow: hidden;
  }
  
  .hometext-title {
    color: #e3fcf7;
    width: 77%;
    height: auto;
    z-index: 0;
    position: absolute;
    margin-left: -38%;
    /* 设置右侧的间距 */
    margin-top: 10%;
    text-align: left;
  }
  
  /* 颜色：#014e3d #00ed64 #e3fcf7 #001E2B #FFC010 #FFEEA9 #FFE212 #B1FF05 #00684A*/
  
  .home-button-container {
    width: 100%;
    height: 100%;
    top: 32%;
    left: 0%;
    display: block;
    position: relative;
  }
  
  .mapwrapper_landingpage {
      background-color: #FFEEA9;
      width: 100%;
      height: 100%;
      margin: auto;
      position: absolute;
      /* top: 0; */
      left: 0;
      right: 0; 
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
    }
  
  .mapwrapper_landingpage {
    background-color: #ffffff;
    width: 100%;
    height: 1000px;
    margin: auto;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 100;
    overflow: hidden;
  }
  
  .rightbox {
    left: 0%;
    height: 97.5%;
    width: 27%;
    /* 调整leftbox的宽度，确保加上rightbox的宽度不超过100% */
    display: flex;
    position: relative;
    flex-direction: column;
  }
  
  .hometext-address {
    color: #e3fcf7;
    width: 77%;
    height: auto;
    z-index: 0;
    position: absolute;
    margin-left: 12%;
    /* 设置右侧的间距 */
    margin-top: 10%;
    text-align: left;
  }
  
  .rightbox-in-1 {
    top: 0%;
    margin-right: 1.5%;
    background-color: #014e3d;
    height: 35%;
    width: 97.5%;
    /* 调整leftbox的宽度，确保加上rightbox的宽度不超过100% */
    display: flex;
    position: relative;
    margin-bottom: 2.5%;
  }
  
  .rightbox-in-2 {
    top: 0;
    margin-right: 1.5%;
    height: 65%;
    width: 97.5%;
    /* 调整leftbox的宽度，确保加上rightbox的宽度不超过100% */
    display: flex;
    position: relative;
    /* background-image: url('/static/images/newyork7.jpg'); */
  }
  
  /* .pic-in-rightbox {
    width: 100%;
    height: 100%;
  }
   */
  /* .leftbox {
    justify-content: center;
    align-items: center;
    right: 0;
    height: 100%;
    width: 73%; */
    /* 调整rightbox的宽度，确保加上leftbox的宽度不超过100% */
    /* display: flex;
    position: relative;
  } */

  /* Extra CSS for the Resources Page */
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');

.landing-page-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      /* background-image: url('images/thought2.jpg'); */
      font-family: Arial, sans-serif;
} 
.resources-pics-container {
      /* background-image: url('/static/images/newyork.jpg'); */
      /* opacity: .2; */
      /* background-color: rgb(237, 240, 237); */
      background-size: cover; 
      background-position: center; 
      /* position: relative; */
      width: 100%;
      height: 100vh;
      display: flex;
    }
  
    /* CSS for Quote */
    .quote {
        background-size: cover;
        /* opacity: .1; */
        background-image: url('/static/images/thoughts.png');
        width: 500px; 
        height: 500px;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* font-weight:bolder; */
        
    }
    .quote h2 {
        font-size: 1.5em;
        opacity: .8;
        font-family: 'Lobster', cursive;
        justify-content: center;
        align-items: center;
        font-weight:bolder;
    }
    .quote small {
        font-size: 1.5em;
        font-family: 'Dancing Script', cursive;
        font-weight:bolder;
    }
  
.btn {
    background-color: #004d40;
    color: #CBDAC5;
    border: none;
    border-radius: 0;
    padding: 15px 30px;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 10px;
    }
.btn-container {
      display: grid;
      justify-content: center;
    }
.btn:hover{
      background: #008CBA;
      color: #fff;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    select {
      width: 500px;
      height: 50px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    /* Style for response display */
.response-container {
  margin-top: 20px;
  width: 750px;
  padding: 20px;
  border: 3px solid #004d40;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}

/* Style for attribution text */
.attribution-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #888;
}

.endbar {
  height: 20px;
}

.imageresources-container {
  width: 250px;
  height: 250px;
  padding: 10px;
  align-items: center;
  background-image: url('/static/images/information.png');
  background-size: cover;
  background-position: center; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imagecarbon-container {
  width: 250px;
  height: 250px;
  padding: 10px;
  align-items: center;
  background-image: url('/static/images/tree4.png');
  background-size: cover;
  background-position: center; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
