{% extends 'main/base.html' %}
{% load static %}

<!-- {% block extend_head %}
<script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>
{% endblock %} -->

{% block extend_nav %} 
<ul class="sidenav">
  <li><a class="active" href="{% url 'main:route' %}">Walking Route</a></li>
  <li><a href="javascript:void(0)" onclick="alert('Add a start and end address, and 3 waypoints')">Walking Map</a></li>
</ul>
{% endblock %}

{% block content %}
<h3>WellApple Walking App (WaWa)- Route Details</h3>

<div class="container">
   <label for="id-google-address-a">Start Address</label>
   <input type="text" placeholder="Type address here" id="id-google-address-a" name="google_address_a">

   <label for="id-google-address-wp1">Waypoint 1</label>
   <input type="text" placeholder="Type location/address here" id="id-google-address-wp1" name="google_address_wp1">

   <label for="id-google-address-wp2">Waypoint 2</label>
   <input type="text" placeholder="Type location/address here" id="id-google-address-wp2" name="google_address_wp2">

   <label for="id-google-address-wp2">Waypoint 3</label>
   <input type="text" placeholder="Type location/address here" id="id-google-address-wp3" name="google_address_wp3">

   <label for="id-google-address-b">Destination Address</label>
   <input type="text" placeholder="Type address here" id="id-google-address-b" name="google_address_b">

   <input type="hidden" class="geo" id="id-lat-a" value="">
   <input type="hidden" class="geo" id="id-long-a" value="">
   <input type="hidden" class="geo" id="id-lat-wp1" value="">
   <input type="hidden" class="geo" id="id-long-wp1" value="">
   <input type="hidden" class="geo" id="id-lat-wp2" value="">
   <input type="hidden" class="geo" id="id-long-wp2" value="">
   <input type="hidden" class="geo" id="id-lat-wp3" value="">
   <input type="hidden" class="geo" id="id-long-wp3" value="">
   <input type="hidden" class="geo" id="id-lat-b" value="">
   <input type="hidden" class="geo" id="id-long-b" value="">
</div>
{% endblock %}

{% block extend_footer %}
<script type="text/javascript">
    var google_api_key = "{{google_api_key|safe}}";
  </script>
  <script src="{% static 'google_places.js' %}"></script>
{% endblock %}